 body{
    font-family: 'Cormorant Garamond', serif
 }

div{
    text-align: center;
}

img{
    width: 400px;
    height:500px;
}

.pictureTitle{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#likes{
    font-size: 30px;
}

button{
    border:none;
    border-radius:10px;
    padding:10px;
    width:80px;
}

#up{
    background-color: lightgreen;
}

#down{
    background-color: lightsalmon;
}
